.root {
  min-width: 300px;
  max-width: 500px;

  .mainContainer {
    width: 100%;
    padding-top: 16px;
  }

  .title {
    width: 100%;
    margin-bottom: 16px;
  }

  .contentContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
  }

  .commonError {
    white-space: pre-line;
  }

  .footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }

  .rowEdit {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 8px;
  }

  .formItem {
    margin: 0;
    min-width: 1px;
    flex: 1 1 100%;
    margin-bottom: 8px;
  }

  .rowEditActions {
    display: flex;
    gap: 8px;
  }

  .row {
    width: 100%;
    min-height: 32px;
  }

  .rowInfo {
    width: 100%;
  }

  .listLabel {
    line-height: 32px;
  }

  .editBtn {
    float: right;
    margin-left: 8px;
  }
}
