.root {
  width: 100%;

  .contentContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
  }

  .sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 1 50%;
    max-width: 50%;
  }
}
