.root {
  width: 100%;
  overflow-x: auto;

  .itemsContainer {
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }

  .card {
    width: 350px;
    flex: 0 0 350px;
  }

  .listLabel {
    color: var(--text-secondary);
  }
}
