.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;

  .mainWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: auto;
    flex: 1 0 auto;
  }

  .content {
    width: 100%;
    display: flex;
    min-height: 1px;
    flex-grow: 1;
  }
}