.root {
  .monyStoragesCard {
    display: flex;
    gap: 4px;
  }

  .actionsCol {
    width: 100px;
  }

  .actionsWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 4px;
  }

  .link {
    word-break: normal;
    margin-left: auto;
  }
}
