.root {
  width: 100%;

  .wrapper {
    width: 100%;
    overflow-x: auto;
    display: flex;
    gap: 8px;
  }

  .statusRow {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    align-items: center;
  }
}